.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 0 1rem 0;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
}

.square {
  text-align: center;
  color: white;
  border: 1px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.square:hover,
.square:focus,
.square:active,
.button:hover,
.button:focus,
.button:active {
  color: #0070f3;
  border-color: #0070f3;
  cursor: pointer;
}

.link {
  margin: 0 5px;
}

.link:hover,
.link:focus,
.link:active {
  color: #0070f3;
  cursor: pointer;
}
